# Your Alchemy or Google Cloud RPC URL for Sepolia
SEPOLIA_RPC_URL=

# The private key of your MetaMask wallet (NOT your 12-word phrase, just the private key for the account)
PRIVATE_KEY=

# The Contract Address you copied from Remix
CONTRACT_ADDRESS=

an abi.json file is also needed